<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="./playerlist.js"></script>
    <title>Football Player</title>
</head>
<body>
    <div ng-app="app" ng-controller="ctrl">
        <h2>Football Player</h2>
        <p ng-bind="positionInTeam" ></p>
        <p ng-if="positionInTeam"> ({{xPosition}}, {{yPosition}}) </p>
        <p>You can filter for a specific position</p>
        <select ng-model="chosenPosition" ng-options="choicePos.pos for choicePos in positions"></select>
        <table border="1">
            <tr>
                <th>#</th>
                <th ng-click='orderFunction("first_name")'>Firstname</th>
                <th>Lastname</th>
                <th ng-click='orderFunction("team")'>Team</th>
            </tr>
            <tr ng-repeat="player in result | orderBy: myOrder | filter: chosenPosition.pos" ng-if="player.first_name != null">
                <td>{{ $index+1 }}</td>
                <td ng-mouseover="mouseOverFunction(player.position, event)" ng-mouseleave="mouseLeaveFunction() ">{{ player.first_name }}</td>
                <td >{{ player.last_name }}</td>
                <td>{{ player.team }}</td>
            </tr>
        </table>
    </div>
</body>

<script>
    app = angular.module('app',[])
    app.controller('ctrl', function ($scope) {
        $scope.positions = [ {pos: '' }, 
        { pos: 'Defender' }, 
        { pos: 'Midfielder 1' }, 
        { pos: 'Midfielder 2' }, 
        { pos: 'Striker' }, 
        { pos: 'Goalkeeper' }];

        $scope.result = players
        $scope.mouseOverFunction = function(id, event) {
            $scope.positionInTeam = id
            $scope.xPosition = window.event.clientX;
            $scope.yPosition = window.event.clientY;
        }
        $scope.mouseLeaveFunction = function() {
            $scope.positionInTeam = ""
            $scope.xPosition = ""
            $scope.yPosition = ""
        }
        reverse = "";
        $scope.orderFunction = function (player) {
            reverse ? reverse = "" : reverse = "-";
            $scope.myOrder = reverse + player;
        }
    })
</script>
</html>