body {
    background-color: gray;
  }

  #box {
    background-color: blue;
    padding: 10px;
    width: 150px;
    height: 40px;
    overflow: auto;
    border: 6px black solid;
  }

  #content {
    background-color: #90EE90;
    /*green*/
  }

  h1 {
    margin-bottom: 30px;
  }